.request-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  > h3 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 1rem;
    color: #bbc4ce;
  }
  .no-req {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 1rem;
  }
  .req-card {
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: 1rem;
    .profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      .profile-pic {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 25%;
      }
      p {
        font-size: 0.9rem;
        color: #213b5c;
        > span {
          font-weight: 600;
          color: #213b5c;
        }
      }
    }
    .btn-container {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      > button {
        padding: 0.5rem 2.3rem;
        border-radius: 0.5rem;
        border: none;
        color: #fff;
        font-weight: 300;
      }
      .accept-btn {
        background: #1778f2;
      }
      .decline-btn {
        background: #fff;
        color: #213b5c;
        border: solid 1px #bbc4ce;
      }
    }
  }
}
